*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-width: 1903px;
}
body {
  background-color: #4b9995;
}
nav {
  width: 1903px;
  height: 110px;
  background-color: #4b9995;
}

ul li {
  margin: 5px;
  list-style: none;
  display: inline-block;
  line-height: 100px;
  float: right;

}
ul li a {
  display: block;
  font-size: 30px;
  font-family: arial;
  color: white;
  padding: 0 50px;
}
ul li a:hover {
  color: #254c4a;
}
.nookinc {
  padding: 30px;
}
